<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <form action="/product/add" method="post">
            <span>Name:</span>
            <span><input type="text" name="name" /></span>
            <span><button type="submit">Add</button></span>

            <!-- we need to add the CSRF
                token in the request done through the form. An easy way to do this is to use a hidden
                input component, as you saw in the default form login -->
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
        </form>
    </body>

</html>