<!DOCTYPE HTML>
<html lang="en">
<head>
    <script>
        const http = new XMLHttpRequest();
        const url='http://127.0.0.1:8080/test';     // Calls the endpoint using 127.0.0.1 as
                                                    // host to simulate the cross-origin call
        const url2='https://www.google.com/';

        http.open("POST", url);
        http.send();
        http.onreadystatechange = (e) => {
            document
                .getElementById("output")
                .innerHTML = http.responseText;
        }

/*        http.open("GET", url2);
        http.send();
        http.onreadystatechange = (e) => {
            document
                .getElementById("output2")
                .innerHTML = http.responseText;
        }
        */
    </script>
</head>
<body>
    <div id="output"></div>
    <br />
    <br />
    <div id="output2"></div>
</body>
</html>